.about-us-section {
    width: 100% ;
    margin: 60px auto;
    max-width: 910px;
    text-align: center;
}

.about-us-section h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0.26px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0;
}

.about-us-line {
    border: 2px solid;
    width: 96px;
    margin: 20px auto;
    border-image: linear-gradient(90deg,
            rgb(0, 213, 190),
            rgb(43, 127, 255)) 1;
}

.about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-text p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.45px;
    line-height: 32px;
    color: #CAD5E2;
    text-align: start;
}

.microsoft-text {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;

}

.microsoft-text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 207.75px;
    height: 106px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}
.microsoft-text-logo img {
    width: 170px;
}


.about-us-logo {
    display: grid;
    flex-direction: column;
    gap: 32px;
}

.about-us-logo-img {
    width: 100%;
    max-width: 430px;
    padding: 50px 0px;
    border: 1px solid #00D5BE;
    border-radius: 16px;
    background: linear-gradient(to top left,
            rgba(82, 139, 139, 0.1),
            rgba(85, 174, 170, 0.1),
            rgba(62, 183, 181, 0.2));
    box-sizing: border-box;

}

.about-us-logo-img .logo {
    width: 100%;
    width: 234px;
    height: 100%;
    height: 147px;

}




.about-us-logo-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

}


.about-us-user {
    max-width: 133px;
    padding: 16px 0px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}



.about-us-user h2 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.37px;
    color: #00D5BE;

}

.about-us-user p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: -0.15px;
    margin: 0;
    color: #90A1B9;

}

@media screen and (max-width:1050px) {
    .about-us-content {
        max-width: 432px;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }


}