body {


    background: linear-gradient(to top right,
            rgba(4, 13, 69, 0.968),
            rgb(41, 54, 147),
            rgba(2, 13, 94, 0.977));
}

.about-us-section h1 {
    font-size: 50px;
    margin: 0;
}

.about-us-line {
    border: 2px solid;
    width: 70px;
    margin: 0 auto;
    border-image: linear-gradient(90deg, rgb(94, 171, 183), rgb(17, 17, 179)) 1;
}

.microsoft-text {

    display: flex;
    justify-content: space-between;

}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-text p {
    text-align: start;
}

.about-us-section {
    width: 100%;
    margin: 100px auto;
    max-width: 50%;
    text-align: center;
    padding: 20px 0;
}

.microsoft-text-logo {
    border: 1px solid;
    border-radius: 10px;
    width: 45%;
    font-size: 30px;
    background: linear-gradient(to top right,
            rgba(45, 103, 114, 0.75),
            rgba(23, 83, 100, 0.2),
            rgba(0, 0, 0, 0));
    border-color: #2c9caf;
}

.about-us-logo {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.about-us-logo-img {
    border: 2px solid;
    border-radius: 10px;
    padding: 55px 20px;
    background: linear-gradient(to top right,
            rgba(45, 103, 114, 0.75),
            rgba(23, 83, 100, 0.2),
            rgba(0, 0, 0, 0));
    border-color: #2c9caf;
}

.about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.about-us-logo-text {
    display: flex;
    justify-content: space-between;
    gap: 20px;


}

.about-us-user {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px 10px;
    background: linear-gradient(to top right,
            rgba(45, 103, 114, 0.75),
            rgba(23, 83, 100, 0.2),
            rgba(0, 0, 0, 0));
    border-color: #2c9caf;
    width: 25%;
    font-weight: 200;
}

.about-us-user h2 {
    font-size: 30px;
    margin: 0;
    font-weight: 400;
    color: #2c9caf;

}

.about-us-user p {
    font-size: 15px;
    margin: 0;

}