body {


    background: linear-gradient(to top right,
            rgba(15, 23, 43, 1),
            rgba(22, 36, 86, 1),
            rgba(2, 47, 46, 1));

}

.about-us-section h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0.26px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0;
}

.about-us-line {
    border: 2px solid;

    width: 96px;
    margin: 20px auto;
    border-image: linear-gradient(90deg,
            rgb(0, 213, 190),
            rgb(43, 127, 255)) 1;

}

.microsoft-text {

    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-text p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -0.45px;
    line-height: 32px;
    color: #CAD5E2;
    text-align: start;
}

.about-us-section {
    width: 100%;
    margin: 100px auto;
    max-width: 50%;
    text-align: center;
    padding: 20px 0;
}

.microsoft-text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 207.75px;
    height: 106px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}


.about-us-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

}

.about-us-logo-img {
    width: 100%;
    max-width: 431.5px;
    height: 234px;
    padding: 50px;
    gap: 8px;
    border: 1px solid #00D5BE;
    border-radius: 16px;
    background: linear-gradient(to top right,
            rgba(82, 139, 139, 0.2),
            rgba(85, 174, 170, 0.2),
            rgba(62, 183, 181, 0.2));
    box-sizing: border-box;
}


.about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.about-us-logo-text {
    display: flex;
    justify-content: space-between;
    gap: 20px;


}

.about-us-user {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 207.75px;
    height: 106px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}



.about-us-user h2 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.37px;
    color: #00D5BE;

}

.about-us-user p {
     font-family: 'Inter', sans-serif;
     font-weight: 200;
    font-size: 14px;
    letter-spacing: -0.15px;
    margin: 0;
    color: #90A1B9;

}