.world-map-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(15, 23, 43, 1), rgba(22, 36, 86, 1), rgba(2, 47, 46, 1));
    padding-top: 100px;
}




.world-map-section h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0.26px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0;
}

.world-map-line {
    border: 2px solid;
    width: 96px;
    margin: 20px auto;
    border-image: linear-gradient(90deg,
            rgb(0, 213, 190),
            rgb(43, 127, 255)) 1;
}

.world-map-section p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.45px;
    color: #90A1B9;
    padding-bottom: 40px;
}