.product-card {
    width: 260px;
    border-radius: 20px;
    background: #b7b5b5;
    box-shadow: 8px 8px 20px #b8b8b8,
        -8px -8px 20px #ffffff;
    padding: 15px;
    text-align: left;
    transition: 0.2s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 55%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.product-title-code {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #35797c;
}

.product-title {
    margin: 5px 0;
    font-size: 25px;
}

.product-sub {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    color: white;
    padding-bottom: 40px;
}

.for-microsoft {
    text-decoration: underline;
}
