@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "leaflet/dist/leaflet.css";

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    background-color: e8e8e8;
    color: #eee;
}


.world-map-section {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 0;
}

.map-text {
    background-color: #4b4b4b;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 12px;
}
.map-text h1{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}


