header {
    width: 100%;
    max-width: 79%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
   
}
.header-container{
    display: flex;
    gap: 50px;
}

.header-container .logo  {
    width: 100px;
    gap: 10px;
    margin-right: 10px;
}

.header-container .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.8;
    letter-spacing: 0.06em;
    color:white;
}
.contact-us-button {
  justify-self: end; 
 
}

@media screen and (max-width:940px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header .menu {
        font-size: 14px;
        justify-content: center;
        gap: 20px;
        font-weight: bold;
    }
}