.slider {
    height: 100vh;
    margin-top: -140px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    inset: 0;
    background: linear-gradient(to bottom right,
            rgba(0, 150, 137, 0.4) 0%,
            rgba(28, 57, 142, 0.6) 50%,
            rgba(15, 23, 43, 0.8) 100%);
    z-index: 1;
}

.slider .list .item .content {
    position: absolute;
    padding: 0;
    left: 10%;
    top: 25%;
    max-width: 896px;
    ;
    z-index: 5;

}

.slider .list .item .content h1 {
    margin: 0;
    font-size: 69px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 73px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: left;
}


.slider .list .item .content .subtitle {
    font-weight: 200;
}


.slider .list .item .content p:nth-child(3) {
    max-width: 657px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}


.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active h1:nth-child(1),
.slider .list .item.active h1:nth-child(2),
.slider .list .item.active p,
.slider .list .item.active button {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h1:nth-child(1) {
    animation-delay: 0.3s;
}

.slider .list .item.active h1:nth-child(2) {
    animation-delay: 0.5s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 0.7s;
}


.arrows {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 40%;
    right: 11%;
    z-index: 100;

}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    font-size: 30px;
    color: #eee;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
}

.thumbnail {
    position: absolute;
    bottom: 150px;
    right: 7%;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: end;

}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 230px;
    height: 250px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
    cursor: pointer;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(0.9);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-airport-name h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: medium;
    margin: 0;
    padding: 0;
    letter-spacing: -0.15px;
}

.content-airport-name p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: regular;
    margin: 0;
    padding: 5px 0px;
}

/* View All Products Button Styles */
.view-all-container {
    position: absolute;
    bottom: 80px;
    right: 7%;
    z-index: 11;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.view-all-btn {
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 4px;
    border: none;
    border-radius: 5px;
    background-color: #eee5;
    color: #eee;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
    margin-top: 10px;
}

.view-all-btn:hover {
    background-color: #eee;
    color: black;
}

.content-airport-code {
    padding: 8px 12px;
    background-color: rgba(40, 196, 181, 0.26);
    border: 1px solid #81FBEE;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #ffffff;
}

@media screen and (max-width:990px) {
    .thumbnail {
        padding-left: 105px;
        justify-content: start;
    }

    .view-all-container {
        padding-left: 105px;
        justify-content: start;
    }

    .slider .list .item .content {
        width: 400px;
        left: 10%;

    }
}

@media screen and (max-width:790px) {
    .thumbnail {
        justify-content: start;
        padding-left: 85px;
    }

    .view-all-container {
        justify-content: start;
        right: 15%;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 25%;
        right: 25px;


    }

    .arrows button {
        width: 42px;
        height: 42px;
        font-size: 15px;


    }
}

@media screen and (max-height:600px) {
    .slider {
        margin-top: -140px;
    }

    .slider .list .item .content {
        top: 15%;
        width: 700px;

    }

    .thumbnail {

        bottom: 15px;
    }

    .view-all-container {
        bottom: 0;
        right: 15%;
    }

    .arrows {
        top: 20%;
    }

}

@media screen and (max-width:380px) {
    .slider .list .item .content {

        left: 12%;
        top: 27%;

    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 11px;
    }

    .slider .list .item .content p:nth-child(1) {
        font-size: 12px;
    }

    .slider .list .item .content h2 {
        font-size: 20px;
    }

    .slider {
        margin-top: -160px;
    }

    .thumbnail {
        right: 16%;
    }

    .view-all-container {

        padding: 0 80px;

    }

    .view-all-btn {


        letter-spacing: 2px;
        border: none;
        border-radius: 5px;
        background-color: #eee5;
        color: #eee;
        padding: 10px 10px;
        left: 12%;

    }

}