.input-container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.styled_input_bar {
    width: 90%;
    padding: 1em;
    font-size: 1em;
    border: 0.1em solid rgb(230, 230, 230);
    border-radius: 2em;
    background-color: transparent;
    color: white;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.styled_input_bar::placeholder {
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}

.styled_input_bar:focus {
    border-color: white;
}

.styled_input_bar:focus::placeholder {
    color: transparent;
}

.input-label {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.styled_input_bar:focus+.input-label,
.styled_input_bar:not(:placeholder-shown)+.input-label {
    top: 0.1em;
    left: 1em;
    font-size: 0.8em;
    color: white;
    background: linear-gradient(to bottom right,
            rgba(15, 23, 43, 1),
            rgba(22, 36, 86, 1),
            rgba(2, 47, 46, 1));
    ;
    /* IMPORTANT: Make sure you change this background color to the exact background color of your webpage or the background color of the container in which this input bar is contained. */
    padding: 0 0.5em;
}

.styled_input_bar:not(:focus):not(:placeholder-shown)+.input-label {
    color: grey;
}

@media screen and (max-width:1050px) {
  .input-label {
    
    font-size: 10px;
  }
  .styled_input_bar:focus+.input-label,
.styled_input_bar:not(:placeholder-shown)+.input-label {
    
    font-size: 9px;
  
}


}