header {
    width: 100%;
    max-width: 75%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .logo img {
    width: 100px;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header .menu {
        font-size: 12px;
        justify-content: center;
        gap: 20px;
        font-weight: bold;
    }
}